.lesson-list-parent {
    font-family: "Bitter","Open Sans",SansSerif;
    font-size: 1.25em;
    font-weight: bold;
}

.lesson-list-parent li {
    list-style-image: url(../img/list-link-bullet.png);
}

.lesson-list-child {
    font-size: 1em;
    font-weight: normal;
}