/* TNA form styles */

label {
  font-weight: 400;
}
input[type="submit"] {
  background-color: #008484;
  color: #fff;
  padding: 0.3em .5em;
  border: 0;
  height: 40px; /*this height must match the standalone button class for single field forms */
  margin: 0;
}
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input.width-half,
#Email /* the Email ID has been applied to single-field email sign-up forms */ {
  border: 1px solid #ccc;
  padding: 2px;
  height: 34px;
  text-indent: 5px;
  min-width: 220px;
  width: auto;
}
textarea {
  border: 1px solid #ccc;
  padding: 5px;
}
select {
  border: 1px solid #ccc;
}
input:focus, input[type=radio]:focus, input[type=checkbox]:focus, textarea:focus, select:focus {
  outline: 3px solid #ebab00;
}
input[type="submit"]:hover, a.button:hover {
  color: #222;
  background-color: $tna_yellow;
}
input[type="submit"]:focus, a.button:focus {
  color: #fff;
  background-color: #111;
  background-color: rgba(0,0,0, 0.75);
}

.form-row {
  margin-bottom: 0.8em;
  &:before, &:after {
    display: table;
    content: " ";
    clear: both;
  }
  label {
    display: inline-block;
    width: 47%;
    margin-right: 3%;
  }
  input[type=text],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=color],
  input[type=email],
  textarea,
  select {
    width: 49%;
  }
  input[type="submit"] {
    float: right;
  }
}
.form-col {
  display: inline-block;
  width: 47%;
  margin: 0 2% 0.8em 0;
}
@media (max-width: 768px) {
  .form-row {
    label {
      width: 100%;
      margin-right: 0;
    }
    input[type=text],
    input[type=url],
    input[type=tel],
    input[type=number],
    input[type=color],
    input[type=email],
    textarea,
    select {
      width: 100%;
    }
    input[type="submit"] {
      float: none;
    }
  }
}
