/* TNA global styles */

body {
  font-family: $tna_body_font;
  font-size: 16px;
  background-color: $tna_light;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: $tna_heading_font;
  font-weight: 400;
  z-index: 2;
  line-height: 1.6;
  letter-spacing: -.025em;
}
//h1 {
//  font-size: 1.75em;
//}
//h2 {
//  font-size: 1.5em;
//}
//h3 {
//  font-size: 1.3em;
//}
//h4 {
//  font-size: 1.2em;
//}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.16em;
}

p {
  margin: 0 0 1.5em;
}

a:active, a:link, a:visited {
  color: $tna_link_col;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  background-color: $tna_yellow;
  outline: 3px solid $tna_yellow_dark;
  color: $tna_dark !important;
}

hr {
  height: 0;
  border:0;
  margin: 1em 0;
  clear: both;
  width:100%;
  border-bottom: 1px solid #ECECEC;
}

.breather-top {
  padding-top:1em;
}
.breather-bottom {
  padding-bottom:1em;
}
.breather-top-bottom{
  padding-top:1em;
  padding-bottom:1em;
}
.breather {
  padding: 1em;
}

#goTop {
  height: 40px;
  width: 40px;
  padding: 10px;
  text-align: center;
  background: whiteSmoke;
  font-weight: bold;
  color: $tna_white;
  text-decoration: none;
  position: fixed;
  top: 47%;
  right: -100px;
  background: url(../img/icon-32-top.gif) center center no-repeat rgba(0, 0, 0, .66);
  background-size: cover;
  z-index: 5000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.well {
  background-color: $tna_well;
  padding: 20px;
  margin: 0;
  border: none;
  border-radius: 0;
}

a#cookieCutter {
  background: url(../img/close-img.png) 0 2px no-repeat;
  margin-left: 10px;
  padding-top: 1px;
  padding-left: 22px;
  text-decoration: none;
}

/* TinyMce - list left thumbnail */
.list_left_thumbnail {
  margin:0;
  padding:0;
  list-style-type:none;
  li {
    h2 {
      padding:0;
      margin:0;
    }
    img {
      float:left;
      width:210px;
      max-height:260px;
      padding:0 10px 0 0;
      margin:0;
      @media (max-width: 375px){
        width: 100%;
      }
    }
    clear:both;
    width:100%;
    border-bottom:1px solid #ECECEC;
    display:inline-block;
    padding:0 0 10px 0;
  }
}
/* TinyMce - list right thumbnail */
.list_right_thumbnail {
  @extend .list_left_thumbnail;
  li {
    img {
      float:right;
      padding:0 0 10px 10px;
    }
  }
}