/* TNA image styles */

.feature-img {
  position: relative;
  .feature-img-caption {
    z-index: 1000;
    width:38px;
    height:38px;
  }
  .img-caption-bottom {
    position: absolute;
    margin-bottom: 1em;
    margin-right: 1em;
    bottom: 0;
    right: 0;
  }
  .img-caption-top {
    position: absolute;
    margin-top: 1em;
    margin-right: 1em;
    top: 0;
    right: 0;
  }
  .eye_caption {
    width:38px;
    height:38px;
    background:$tna_eye_img_caption;
    color: #fff;
    &:hover{
      background:$tna_eye_img_caption_hover;
    }
    &:focus {
      background-color: $tna_yellow;
      outline: 3px solid $tna_yellow_dark;
      color: $tna_dark;
    }
  }
  .image_caption_back {
    display:none;
    position:absolute;
    right: 0;
    background-color: #111;
    opacity: .85;
    padding: 5px 10px;
    z-index: 5000;
    font-size: .9em;
    color: #eee;
    text-align: right;
    min-width: 300px;
    max-width: 100%;
    a:link,
    a:visited,
    a {
      color: $tna_yellow;
      &:hover {
        text-decoration:underline;
      }
    }
  }
}

.entry-content {
  img.alignright {
    float: right;
    margin: 0 0 1em 1em;
  }
  img.alignleft {
    float: left;
    margin: 0 1em 1em 0;

  }
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  .alignright {
    float: right;
    margin: 0 0 1em 1em;
  }
  .alignleft {
    float: left;
    margin: 0 1em 1em 0;
  }
  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  .alignnone {
    margin-bottom: 1em;
  }
  .wp-caption-text {
    position: relative;
    font-size: .9em;
    color: $tna_mid;
    clear: both;
    margin: .5em;
    text-align: center;
  }
}