/* TNA list styles */

ul, ol {
  padding-left: 1.5em;
  margin: 0 0 1.5em 0; /* for consistency with heading and paragraph margins in articles */

}

ul li	{
  list-style-image: url("../img/list-bullet.png");
}
ul li, ol li {
  margin: 0 0 .75em 0;
  line-height: 1.6;
}

ul li ul, ol li ol {
  margin: 1em 0 0 0;
}

.breather p + ul {
  /* all ul within or alongside paragraphs should have margins defined by class
  margin: 1em 0 2em 0; */
}

ul.no-bullet li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0 10px 0;
  list-style-image: none;
  list-style-type: none;
  margin:0;
}
ul.no-bullet li:last-child {
  border-bottom: 0;
}

ul.full,
ul.child, ul.sibling, ul.triplets, ul.quadruplets {
  float: left;
  padding-bottom: 10px;
  width: 96%;
  margin: 0;
}


ul.child li, ul.sibling li, ul.triplets li, ul.quadruplets li, ul.full li {
  list-style-image: url("../img/list-link-bullet.png");
  width: 96%;
  float:left;
  margin-bottom: 1em;
}

ul.child li {
  width: 40%;
  margin-right: 10%;
}

ul.sibling {
  margin: 0;
}
ul.sibling li {
  font-family: 'Bitter', serif;
  font-size: 1.2em;
  padding-bottom: 0 !important;
}


ul.documents li a,
ul.sibling li a,
ul.urls li a {
  display: block; /* increases the selectable area for the benefit of smaller screen users and also forces extraneous information outside the link e.g. file type and size onto a second line for neatness */
}
ul.documents li {
  font-size:.9em;
  padding:.25em 0;
  margin: .5em;
}
ul.documents li a {
  font-size: 1.2em !important;
}

ul.form-selectable {
  margin:0 0 1.25em 0;
  padding: 0 1%;
  width:98%;
  background-color: rgba(0,0,0,.25);
}
ul.form-selectable li {
  float:left;
  list-style: none inside;
  display: inline;
  width: 100%;
  margin:0 0.2% 2px 0;
  /*background-color: rgba(0,0,0,.25); - restore once flexbox applied */
  font-size:.85em;
  line-height: 1.5;
}

ul.form-selectable li span {
  padding: .25em .5em .25em 0;
  float:left;
}
ul.form-selectable li span label {
  cursor: pointer;
}

ul.form-selectable li span input[type=checkbox] {
  position:relative;
  top:2px;
  margin-right: .5em;
}

/* Disc menu, A-Z Menu & Numbered menu - remove these once tested as we should be able to use MENU-DISC for all single-character list items (create menu-disc-large if larger width and height variant needed) */

#disc-menu, #numbered-menu {
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
}
#disc-menu li, #numbered-menu li {
  float: left;
  text-align: center;
  list-style-type: none;
  margin: 0 5px 5px 0;
  display: inline-block;
  width: 18%;
}
#disc-menu li a, #numbered-menu li a {
  font-family: 'Bitter', Georgia, Verdana, Arial, Helvetica, serif;
  font-size: 1.5em;
  display: inline-block;
  background-color: #008484;
  color: #FEFEFE;
  border-radius: 50%;
  text-decoration: none;
  line-height: 200%;
  width: 44px;
  height: 44px;
}

#menu-disc, #a-z-menu {
  min-height: 48px;
  float: left;
  margin:0;
  padding:0;
}

#menu-disc li, #a-z-menu li  {
  text-align: center;
  list-style-type: none;
  margin: 0 4px 4px 0;
  display: inline-block;
  width: auto;
  float:left;
}

#menu-disc li a, #menu-disc li span.disabled,
#a-z-menu li a, #a-z-menu li span.disabled  {
  font-family: 'Bitter',Georgia, Verdana, Arial, Helvetica, serif;
  font-size: 1.25em;
  display: inline-block;
  width: 40px;
  height: auto;
  color: #FEFEFE;
  border-radius: 50%;
  text-decoration: none;
  line-height: 40px;
}

#menu-disc li a, #a-z-menu li a {
  background-color: #008484;
}

#menu-disc li span.disabled, #a-z-menu li span.disabled {
  background-color: #ddd;
  background-color: rgba(0,0,0,.25);
  color: #999;
}

#menu-disc li a:hover, #disc-menu li a:hover, #menu-disc .selected, #a-z-menu .selected a,
#a-z-menu .selected, #a-z-menu a:hover  {
  color: #000;
  background-color: #FCE45C;
  border-radius: 50%;
}

#menu-disc li a, #menu-disc li span.disabled
  /* The newer style for disc menus uses has a reduced width and height - when all disc menus are renamed to 'menu-disc' these sizes will be standardised */ {
  width: 32px;
  line-height: 32px;
}

@media only screen and (min-width: 768px) {

  ul.triplets li, ul.quadruplets li {
    width: 45%;
  }

}

@media only screen and (min-width: 1024px) {

  ul.quadruplets li {
    width: auto;
    margin-right: 11%;
  }
  ul.triplets li {
    width: 33%;
  }

}