/* TNA mega-menu styles (Mega-menu feed processor) */
.mega-menu {
  margin-left: -15px;
  margin-right: -15px;
  > ul > li > a, > ul > li > div {
    font-family: "Bitter", "Open Sans", arial, serif;
    font-size: 1.3em;
    font-weight: 400;
    z-index: 2;
    letter-spacing: -0.025em;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.6;
    padding: 0;
    color: #fff;
    display: block;
  }
  > ul > li  {
    width: 16.66667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: none !important;
    list-style-image: none;
  }
  .mobile-home-link {
    display: none;
  }
  > ul > li:last-of-type {
    margin: 0;
  }
  @media (max-width: 992px ) {
    > ul > li {
      width: 50%;
    }
  }
  @media (max-width: 580px ) {
    > ul > li {
      width: 100%;
    }
  }
  @media only screen and (max-width : 480px) {
    > ul > li > ul.sub-menu {
      display: none;
    }
    .toggle-sub-menu:hover {
      text-decoration: underline;
    }
    > ul > li > a, > ul > li > div {
      background: url(../img/plus.png) 0 14px no-repeat;
      padding: 5px 5px 5px 22px;
      cursor: pointer;
      text-shadow: none;
    }
    > ul > li > a.expanded, > ul > li > div.expanded {
      background: url(../img/minus.png) 0 14px no-repeat;
    }
    > ul > li > a:focus {
      background: #FCE45C !important;
    }
    .mobile-home-link {
      display: block;
    }
  }
}

#nav {
  background-color: $tna_blue;
  color: #fff;
  h3 {
    a {
      color: $tna-white;
    }
    a:focus {
      color: $tna_dark;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li ul li {
      font-size: .9em;
      list-style-image: none;
      border-top: 1px dotted #192132;
      margin: 0;
      a {
        color: $tna-white;
        padding: 4px;
        display: block;
        width: 100%;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        &:active, &:hover {
          outline: 0;
        }
      }
    }
  }
}

//Works with Modernizr when no JS
.no-js #nav {
  display: block;
}
.js #nav {
  display: none;
}