/* TNA fonts */
$tna_body_font: 'Open Sans', arial, sans-serif;
$tna_heading_font: 'Bitter', 'Open Sans', arial, serif;

/* TNA colours */
$tna_red: #cb0d07;
$tna_teal: #008484;
$tna_blue: #405480;
$tna_yellow: #fce45c;
$tna_yellow_dark: #ebab00;
$tna_light: #eee;
$tna_mid: #666;
$tna_dark: #222;
$tna_link_col: #2A5DB0;
$tna_white: #fff;
$tna_well: #f3f3f3;

/* TNA Icons/Images */
$tna_scope_selector_expanded: url('../img/scope-selector-expanded.png');
$tna_scope_selector : url('../img/scope-selector.png');
$tna_search_white: url('../img/search-white.png') center no-repeat;
$tna_close_search: url('../img/close-search.png') center no-repeat;
$tna_menu_trigram_lrg:url("../img/menu-trigram-lrg.png") center no-repeat;
$tna_menu_collapsed: url('../img/menu-collapsed.png');
$tna_eye_img_caption:url('../img/eye-caption.png');
$tna_eye_img_caption_hover:url('../img/eye-caption-hover.png');
$tna_icon_24_link:url('../img/icon-24-heading-link.png');
$tna_dot_grey:url('../img/dot-grey.png');
$tna_heading_flourish:url('../img/heading-flourish.png') no-repeat bottom left;