/* TNA fonts */
$tna_font_open_sans: 'Open Sans', verdana, arial, sans-serif;
$tna_font_bitter: 'Bitter', 'Open Sans', verdana, arial, sans-serif;

/* TNA colours */
$tna_palette_white: #fff;
$tna_palette_light_grey: #eee;
$tna_blue: #405480;
$tna_outline: #ebab00;
$tna_accessibility: #FCE45C;
$tna_black: #000;
