/* TNA header styles */
header {
  background-color: $tna_dark;
  color: $tna_white;
  padding: 0.7em 0 7px 0;
  #search-field-wrapper {
    input[type="text"] {
      position: absolute;
      top: 0;
      right: 55px;
      width: 226px;
      height: 40px;
      color: $tna_dark;
    }
    input[type="submit"] {
      position: absolute;
      right: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
      background-image: url("../img/search-white.png");
      background-repeat: no-repeat;
      background-position: center;
    }
    ul {
      background-color: #333;
      position: absolute;
      top: 41px;
      right: 118px;
      padding: 5px 5px 5px 5px;
      width: 202px;
      z-index: 4000;
      li {
        list-style-type: none;
        list-style-image: none;
        a {
          color: $tna_white;
          font-size: 0.9em;
          padding: 0.5em;
          display: block;
          &:hover {
            background-color: #FCE45C;
            color: $tna_dark;
          }
        }
      }
    }
  }
  #mega-menu-pull-down {
    background-image: $tna_menu_collapsed;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-color: $tna_red;
    display: block;
    margin: -15px auto 0 auto;
    position: relative;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    z-index: 2000;
    top: 30px;
    /*animation-name*/
    -webkit-animation-name: subtle-bounce;
    -moz-animation-name: subtle-bounce;
    -ms-animation-name: subtle-bounce;
    -o-animation-name: subtle-bounce;
    animation-name: subtle-bounce;
    /*animation-duration*/
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -ms-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    animation-duration: 500ms;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -ms-animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
    animation-iteration-count: 3;
    /*animation-delay*/
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -ms-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
    @media only screen and (max-width: 767px) {
      display: none;
    }
    span {
      top: -4px;
      z-index: 999;
      position: relative;
      font-size: 0.9em;
    }
  }
  &#mobile-logo-holder {
    @media (max-width: 480px) {
      padding: 0px;
    }
  }
  /* Mega menu button (mobile view only) */
  #mega-menu-mobile {
    height: 40px;
    width: 40px;
    background: $tna_menu_trigram_lrg;
    border: 0px;
    z-index: 2;
    background-color: $tna_red;
    border-radius: 100%;
    float: left;
    display: block;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }
  @media only screen and (min-width: 768px) {
    #mega-menu-mobile {
      display: none;
    }
  }
  #mobile-logo-holder {
    a {
      display: block;
    }
    img {
      @media (min-width: 480px) {
        margin: 0 auto;
      }
      @media (max-width: 480px) {
          margin-right: auto;
          margin-left: auto;
          max-width: 83%;
      }
    }
  }
  .search-expander, .search-close {
    height: 2.7em;
    width: 40px;
    background: $tna_search_white;
    background-size: 90%;
    -ms-background-position-y: 7px;
    background-position-y: 7px;
    position: absolute;
    top: -48px;
    right: 20px;
    cursor: pointer;
  }
  #mobileGlobalSearch {
    input[type='text'] {
      width: 100%;
      border-radius: 0px;
      border: none;
      height: 40px;
      color: $tna_dark;
    }
    input[type='submit'] {
      background: $tna_search_white;
      cursor: pointer;
      background-color: $tna_teal;
      width: 40px;
    }
    .input-group-addon {
      padding: 0px;
      border: none;
    }
  }
  @-webkit-keyframes subtle-bounce {
    0%, 100% {
      background-position: 50% 100%
    }
    50% {
      background-position: 50% 110%
    }
  }
  @-moz-keyframes subtle-bounce {
    0%, 100% {
      background-position: 50% 100%
    }
    50% {
      background-position: 50% 110%
    }
  }
  @-o-keyframes subtle-bounce {
    0%, 100% {
      background-position: 50% 100%
    }
    50% {
      background-position: 50% 110%
    }
  }
  @keyframes subtle-bounce {
    0%, 100% {
      background-position: 50% 100%
    }
    50% {
      background-position: 50% 110%
    }
  }
  #mobile-search-wrapper input[type="submit"] {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: $tna_search_white;
    background-repeat: no-repeat;
    background-position: center;
  }
  #scope-selector {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 281px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-image: $tna_scope_selector;
    background-color: #555;
    background-size: cover;
    cursor: pointer;
  }
  #globalSearch .expanded {
    background-image: $tna_scope_selector_expanded;
  }
  .search-field-wrapper-medium {
    float: right;
    max-width: 331px;
    margin-right: 1em;
    input[type="text"] {
      min-width: 70%;
    }
  }
  /* 'Search our website/search our records' (mobile view only) */
  #changeDestination {
    color: $tna_white;
    padding-top: 0.5em;
  }
  #changeDestination label {
    margin: 0 0.5em;
  }
  #skip-to-main-content {
    position: absolute;
    top: -30px;
  }
}

.notification-banner {
  background-color: $tna_yellow;
  p {
    display: inline;
    padding: 0;
    margin: 0;
  }
  .notice {
    margin: 0.3em 0;
    strong.title {
      background-color: #fff;
      text-transform: uppercase;
      padding: 0 0.4em;
      margin-right: 1em;

    }
  }
}

//Works with Modernizr when no JS
.no-js #search-field-wrapper > ul {
  display: block;
}

.js #search-field-wrapper > ul {
  display: none;
}

//Works with Modernizr when no JS