/* TNA icon styles */

.sprite {
  background-image: url("../img/icons-compressed.png");
  width: 40px;
  height: 40px;
  margin: 5px 5px 5px 0;
  cursor: pointer;
}
.icon-img-desc {
  background-position: 0 0;
}
.icon-img-desc:hover, .expanded {
  background-position: 0 40px;
}
.icon-new-window {
  background-position: -40px 0;
}
.icon-new-window:hover {
  background-position: -40px 40px;
}
.icon-play {
  background-position: -80px 0;
}
.icon-play:hover {
  background-position: -80px 40px;
}
.icon-rss {
  background-position: -120px 0;
}
.icon-rss:hover {
  background-position: -120px 40px
}
.icon-facebook {
  background-position: -160px 0;
}
.icon-facebook:hover {
  background-position: -160px 40px;
}
.icon-twitter {
  background-position: -200px 0;
}
.icon-twitter:hover {
  background-position: -200px 40px;
}
.icon-pinterest {
  background-position: -280px 0;
}
.icon-pinterest:hover {
  background-position: -280px 40px;
}
.icon-flickr {
  background-position: -320px 0;
}
.icon-flickr:hover {
  background-position: -320px 40px;
}