/* TNA nav styles (Mega-menu) */

#nav {
  background-color: $tna_blue;
  color: #fff;
  h3 {
    a {
      color: $tna-white;
    }
    a:focus {
      color: $tna_dark;
    }
    &.expanded {
      background-image: url(../img/minus.png);
    }
    @media (max-width: 480px) {
      background: url(../img/plus.png) 5px 12px no-repeat;
      padding: 5px 5px 5px 22px;
      cursor: pointer;
      text-shadow: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    font-size: .9em;
    list-style-image: none;
    border-top: 1px dotted #192132;
    margin: 0;
    a {
      color: $tna-white;
      padding: 4px;
      display: block;
      width: 100%;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      &:active, &:hover {
        outline: 0;
      }
    }
  }
  @media (max-width: 580px) {
    .col-xxs-12 {
      width: 100%;
      float: left;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

//Works with Modernizr when no JS
.no-js #nav {
  display: block;
}
.js #nav {
  display: none;
}
