/* TNA print styles */

@media print {
  header, nav, aside, footer {
    display: none;
  }
  img {
    max-width: 100%;
  }
  .equal-heights .col-md-6 {
    height: auto !important;
  }
  article:after, article:before {
    content: " ";
    display: table;
    clear: both;
  }
}