/* TNA table styles (extends bootstrap table styles) */

.table {
  thead {
    background: #eee;
    font-weight: 700;
  }
  td a {
    display: inline-block;
    -ms-word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
  }
}