/* TNA template styles */

/* Default template */

article {
  background-color: $tna_white;
  margin-bottom: 1.5em;
  .entry-header {
    padding: 10px 10px 0 0;
    background: $tna_dot_grey;
    h1 {
      font-size: 2em;
      padding: 4px 10px;
      background-color: $tna_blue;
      color: #fff;
      line-height: 1.25;
      margin: 0 10px 0 -10px;
      display: inline-block;
    }
    h2 {
      padding: 4px 32px 4px 10px;
      background-color: $tna_blue;
      color: #fff;
      line-height: 1.5;
      margin: 0 10px 0 -10px;
      display: inline-block;
      a {
        color: #fff;
        background-image:$tna_icon_24_link;
        background-repeat: no-repeat;
        background-position: 100% 50%;
        padding-right: 32px;
      }
    }
  }
  .entry-header:after {
    content: ' ';
    display: block;
    height: 10px;
    margin: 0 0 0 -10px;
    background: $tna_heading_flourish;
  }
  .entry-content {
    padding: 20px;
    .thumbnail {
      margin-bottom: 10px;
      border:none;
      padding:0;
    }
  }
}
.equal-heights {
  > div {
    background: white;
    background-clip: content-box;
    margin-bottom: 1.5em;
  }
  article {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0.5em;
  }
}

/* Level 1 landing template */

.level-one {
  .banner {
    height: 288px;
    position: relative;
    .entry-header {
      background: none;
    }
    .entry-content {
      overflow: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #000;
      background: rgba(0,0,0,.66);
      color: #ddd;
      width: 100%;
      padding: 1em 0.2em;
      h2, h3, h4, p {
        margin: 0;
      }
      .call-to-action-button {
        text-align: right;
      }
    }
  }
  .feature-img-bg {
    background-position: center center;
    background-size: cover;
  }
  .box-third, .box-half, .box-full {
    ul {
      margin-top: 1em;
    }
    ul li {
      float: left;
      list-style-image: url(../img/list-link-bullet.png);
      margin-bottom: 1em;
    }
    .feature-img-bg {
      height: 180px;
    }
  }
  .box-third, .box-half {
    ul li {
      width: 40%;
      margin-right: 10%;
    }
  }
  .box-full {
    ul li {
      width: 26%;
      margin-right: 7%;
    }
  }
  @media only screen and (max-width: 567px) {
    .box-third, .box-half, .box-full {
      ul li {
        width: 96%;
        margin-right: 0;
      }
    }
  }
  @media only screen and (max-width: 480px) {
    .banner {
      .entry-content {
        padding: 0;
        .page-content {
          display: none;
        }
      }
      .entry-content .call-to-action-button {
        width: 100%;
        text-align: center;
      }
    }
  }
}