/*
IE9 css
*/

.flex-row .col-card-4 {
    float: left;
    width: 33.3%;
}
.flex-row .col-card-3 {
    float: left;
    width: 25%;
}
.card {
    box-shadow: none;
}
.card a:hover {
    box-shadow: none;
}

