.top-spacing {
    margin-top: 30px;
}

footer li {
    list-style-type: none;
    list-style-image: none;
}

.follow-us a img {
    min-width: 48px;
}

.mobile-margin {
    margin-left: 7%;
}

.mobile-resize {
 width: 100%;
}